.fondo-gris{
    
    background: #4f5d7a;
    color:white;
}
.fondo-gris-oscuro{
    background: #90a4ae;
}
.fondo-rojo{
    background: #e57373;
}
.company-logo {
    padding: 25px 10px;
    display: block;
}
.authentication-form-wrapper{

}
.authentication-form{
	padding: 1.5em;
	border-radius: 5px;
	
}
.px-navbar [class*=" widget-"], .px-navbar [class^="widget-"] {
    border-color: #526177;
}
.logo .img-responsive {
    margin: 0 auto;

}
.logo-nav{
	height: 50px;
}
h1{
	margin:0.5em;
}
body{

	/*background: #3d4a5d;*/
}

.navbar-header{
	font-weight: bold;
}
.invisible{
	display: none;
	visibility: hidden;
}
.page-header{
	margin-bottom: 0.3em;
	padding: 1em;
}
.logo{
	width: 150px;
}
.btn-toolbar-container-out {
    margin-left: -10px;
}
.btn-bottom-toolbar {
    position: fixed;
    bottom: 0;
    padding: 15px;
    left: 0px;
    right: 0px;
    padding-right: 41px;
    margin: 0px;
    -webkit-box-shadow: 0 -4px 1px -4px rgba(0,0,0,.1);
    box-shadow: 0 -4px 1px -4px rgba(0,0,0,.1);
    background: #edf0f1;
    width: 100%;
    z-index: 5;
    border-top: 1px solid #dbe0e2;
}
  table td, table th{
    vertical-align: middle !important;
  }
  h5{
    margin-top: 1em;
  }
.btn-data-table{
    margin-bottom: 0.5em !important;
}
.help-title{
    cursor: pointer;
    margin-left: 0.1em;
}
.required{
    margin-left: 0.2em;
}
input[type="number"]{
    text-align: right;
    padding-right: 0.2em !important;
}
#main-menu, #nav-header{
    position: fixed;
}